@inherits LayoutComponentBase

<div class="main">
    <div class="content">
        @Body
    </div>
    <div class="footer">
        Created by Alex King. Check out the code on <a href="https://github.com/alexking-and/kilburn-coding-challenges/tree/master/challenge-5-easy-does-it">Github</a>!
    </div>
</div>
